<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kingwant.hjjp.mapper.SerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="kingwant.hjjp.entity.Ser">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="state" property="state" />
        <result column="des" property="des" />
        <result column="orders" property="orders" />
        <result column="urlFlag" property="urlFlag" />
        <result column="url" property="url" />
        <result column="crtime" property="crtime" />
        <result column="inNum" property="inNum" />
        <result column="outNum" property="outNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, state, des, orders, urlFlag, url, crtime, inNum, outNum
    </sql>

</mapper>
